.tag {
    /* 3px 6px */
    --p-y: 0.1875em;
    --p-x: 0.375em;
    --icon-w: 0.5em;
    --icon-h: 0.5em;

    /* 2px */
    border-radius: 0.125em;
    padding: var(--p-y) var(--p-x);
    user-select: none;
    position: relative;
}

.deleteIcon {
    cursor: pointer;
    display: none;
    position: absolute;
    top: 0.1875em;
    left: calc(100% - var(--icon-w) - var(--p-x));
    right: 0;
    bottom: 0;
}

.tag:hover .deleteIcon {
    display: inline-flex;

}

.deleteIcon * {
    width: var(--icon-w);
    height: var(--icon-h);
}

/* size */

.sizeS {
    /* 40px 18px */
    width: 2.5em;
    height: 1.125em;
}

.sizeM {
    /* 60px 24px */
    width: 3.75em;
    height: 1.5em;
}

/* color */

.tagViolet {
    background-color: #EEE1FD;
}

/* в макете это green */
.tagMint {
    background-color: #BAF8CF;
}

.tagRed {
    background-color: #FED6CC;
}

.tagOrange {
    background-color: #FFDCB6;
}

.tagBlue {
    background-color: #B8E6FF;
}

.tagGreen {
    background-color: #D8FCB0;
}

.tagDarkBlue {
    background-color: #C6D9FF;
}

.tagYellow {
    background-color: #FFF4C7;
}

.fullWidth {
    width: 100%;
}
