.tag {
    /* 2px */
    border-radius: 0.125em;
    /* 3px 6px */
    padding: 0.1875em 0.375em;
    user-select: none;
}

.deleteIcon {
    cursor: pointer;
    display: none;
    justify-content: end;
}

.tag:hover .deleteIcon {
    display: flex;
}

.deleteIcon * {
    width: 0.5em;
    height: 0.5em;
}

/* size */

.sizeS {
    /* 40px 18px */
    width: 2.5em;
    height: 1.125em;
}

.sizeM {
    /* 60px 24px */
    width: 3.75em;
    height: 1.5em;
}

/* color */

.tagViolet {
    background-color: #EEE1FD;
}

/* в макете это green */
.tagMint {
    background-color: #BAF8CF;
}

.tagRed {
    background-color: #FED6CC;
}

.tagOrange {
    background-color: #FFDCB6;
}

.tagBlue {
    background-color: #B8E6FF;
}

.tagGreen {
    background-color: #D8FCB0;
}

.tagDarkBlue {
    background-color: #C6D9FF;
}

.tagYellow {
    background-color: #FFF4C7;
}
